<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>
<body style="text-align: center; background-color: whitesmoke;">
    <header>
        <nav style="background-color: antiquewhite; height: 25px;">
            ||<a href="/">Home</a> ||
            <a href="/formulario">formulário</a>||
        </nav>
    </header>
</body>
</html>